<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products | Admin | Burdeos</title>
    <link rel="stylesheet" href="/css/admin.css">
    <script src="https://kit.fontawesome.com/1a7ac0c558.js" crossorigin="anonymous"></script>
</head>
<body>
    {{> menu}}
    <div class="container">
        <h1>Clientes</h1>
        <table>
            <a href="/admin/client/create" class="boton-crear">Nuevo</a>
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>teléfono</th>
                    <th>email</th>
                    <th>dirección</th>
                    <th>estado</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1001</td>
                    <td>Santiago Acevedo</td>
                    <td>32145872</td>
                    <td>sacevedo@example.com</td>
                    <td>clle 86C #35 - 10</td>
                    <td>Activo</td>
                    <td><i class="fa-solid fa-pen-to-square"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>